/* Import Google Font - Raleway 300 & 700 */
@import url('https://fonts.googleapis.com/css?family=Raleway:300,700');

/* ----------------------------- */
/* -------- GENERAL CSS -------- */
/* ----------------------------- */ 

:root {
     /* Fonts */
    --sans-serif: 'Raleway', sans-serif;
    --font-light: 300;
    --font-bold: 700;
    
    /* Colors */
    --black: #353535;
    --gray: #4f4f4f;
    --medium-gray: #737373;
    --light-gray: #c4c4c4;
    --orange: #f96855;
    --white: #ffffff;
    --purple: purple;
    --green: green;
    --other-gray: #666666;
    --blue: #3498db;
    
    /* Semantic color names */
    --accent: var(--orange);
    
    --body-background: var(--black);
    --menu-background: var(--gray);
    
    --main-font-color: var(--white);
    --main-background-color: var(--purple);
    --menu-active-color: var(--light-gray);
    --menu-font-color: var(--medium-gray);

    --filter-button-color: var(--white);
    --filter-font-color: var(--other-gray);

    --tile-background-color: var(--blue);
    --tile-font-color: var(--white);

    --article-background-color: var(--green);
  }

  /* Add Var for:
  Nav Colour
  Nav Colour Active
  Tile Background Colour
  Overlay Colour
  Article Colour
  Active Filter 
  Non Active Filter
  */


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
    border: none;
    overflow: hidden;
}

html {height: 100vh;}
body {height: 100vh;}
main {min-height: 90vh;}


body {
    background: var(--body-background);
    color: var(--main-font-color);
    font-family: var(--sans-serif);
    font-size: 1.2rem;
    line-height: 1.45;
}

article {
    padding: 20px;
    background-color: #2ecc71;
    flex: 1; /* All child elements take up equal space */
}


/* img: refers to icons */
.program-icon {
    height: 30px;
    width: 30px;
    font-size: 30px;
    flex-shrink: 0; /* Prevent icons from shrinking */
}

.projectLangsOlay > img {
    height: 30px;
    width: 30px;
    font-size: 30px;
    flex-shrink: 0; /* Prevent icons from shrinking */
}




/* ----------------------------- */
/* ------ NAVIGATION BAR ------- */
/* ----------------------------- */  
nav {
    display: flex;
    justify-content: space-between;               /* Keeps nav a spaced out and in line */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);   /* Add a subtle box shadow for depth */
    max-height: 10vh;
    width: 100%;                                /* Takes up 100% of the screen width */
    position: sticky;                           /* Keeps the navigation bar at top of screen */
    z-index: 1000;                              /* Ensure the navigation bar appears above other elements */

}

nav > a {
    text-decoration: none;                      /* Removes all natural formatting ie: underlines */
    font-weight: bold;                          /* Make the text bold for emphasis */
    transition: color 0.3s ease-in-out;         /* Smooth transition for color change */
}

nav > a:hover {
    color: var(--menu-active-color);                             /* Change text color on hover */
}

nav > a.active {
    color: var(--menu-active-color);                            /* Active = relevant section element is active */
}


/* ----------------------------- */
/* ------ RESUME CONTENT ------- */
/* ----------------------------- */

#section-container {
    background-color: purple;
}

section {
    flex-wrap: wrap;                            /* wrap the tiles in the element */
}

section > h2 {
    flex-basis: 100%;
}


section.active {display: flex;}
section.inactive {display: none;}

section {
    flex-wrap: wrap;                            /* wrap the tiles in the element */
    gap: 20px;                                  /* each.tile2 seperated by 20pixels */
    padding: 20px;
}


/* ----------------------------- */
/* ---- TILE FILTER BUTTONS ---- */
/* ----------------------------- */

.filter {
    flex-basis: 100%;
}

.filter-options {
    display:flex;
    flex-direction: row;
}

.filterItem {
    cursor: pointer;                            /* Mouse pointer turns into a pointer when hovering over li*/
    display: inline-flex;                       /* Keeps the list items next to each other in a horizontal way*/
    background: var(--filter-button-color);    /* White background */
    transition: all 0.3s ease-in-out;           /* Applies a smooth transition effect to all style changes */
    color: var(--filter-font-color);           /* Gray font colour */

    font-size: 3vw;  
    width: 5vw;
    height: 5vw;

    margin-right: 10px;                         /* Spacing between tiles*/
    margin-top: 5px;                            /* High level of zoom in makes filter buttons go to second row */

    align-items: center;                        /* Center content */
    justify-content: center;                    /* Center content */

    position: relative;                         /* Added for positioning the tooltip */
}

.filterItem:hover,
.filterItem.filter-active {
    background: #FF6F61;                /* Style change for when filter button is either clicked or moused over */
    color: #222222;
}

/* ----------------------------- */
/* ----------- Tiles ----------- */
/* ----------------------------- */

.tile-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    height: 100%
}

.tile {
    display: inline-block;
    width: 10vw;
    height: 10vw;
    background-color: var(--tile-background-color);
    color: var(--tile-font-color);
    cursor: pointer;
    transition: var(--tile-background-color) 0.3s ease, color 0.3s ease, transform 0.3s ease;
    display: none;
    text-align: center;
}

.tile.active {
    display: grid;
    /* grid-template-rows: repeat(1, 1fr); */
}

.tile:hover {
    color: #000;
    transform: scale(1.05);
}

.icon-container {
    display: flex;
    justify-content: space-evenly;        /* Center the content horizontally */
    align-items: center;            /* Center the content vertically */
    font-size: 15px;
    padding: 10px;
    gap: 10px;
    /* min-height: 130px; */
    height: 100%;

}

/* .icon-container > i {

    height:50%;
    width: 30%;
    margin:0;
    transform: translateY(-50%);
}
.icon-container > p {

    height:50%;
    transform: translateY(-50%);
    margin:0;
} */


/* ----------------------------- */
/* -- SECTION NEXT/PREV ARROWS - */
/* ----------------------------- */

button {
    width: auto;
}

main > button {
    position: absolute;                     /* Taken out of normal flow of document */
    top: 50%;                               /* Positions the top of the element at the vertical center of its containing element. */
    transform: translateY(-50%);            /* vertically center the element.  by half of its own height. */
    font-size: 24px;                        /* Size of the arrow */
    cursor: pointer;                        /* mouse becomes a cursor when hovered over the arrow  */
    color: #ffffff;                         /* Arrows are white*/
    padding: 10px;                     
    outline: none;                          /* Removes the outline, typically added as a default focus style. */
}

button.disabled {
    display: none;
}

main > button:first-of-type { left: 0; }                          /* positions it to the left edge of its containing element. */
main > button:last-of-type { right: 0; }                         /* positions it to the right edge of its containing element. */




/* ----------------------------- */
/* ---- EXPERIENCE OVERLAY ---- */
/* ----------------------------- */
dialog {
    display: none;   /* Default display is non visible. Display is modified when class becomes "active" */
    position: fixed;  /* Positions the overlay relative to the browser window and does not scroll with the page */
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;        
    background: rgba(0, 0, 0, 0.7);     /* Sets transparent background */
    color: #fff;                /* White text */
    justify-content: center;    /* Centers the child elements horizontally */
    align-items: center;        /* Centers the child elements vertically */
    z-index: 9999;              /* Must be most front facing forward since its an overlay */ 
}


/* div: infoWrapper */
dialog > .infoWrapper {
    font-family: 'Arial', sans-serif;
    padding: 2% 5%;     /* padding on the top/bottom and left/right of the wrapper.*/
    gap: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;    /* Centers the child elements horizontally */
    align-items: center;        /* Centers the child elements vertically */
    flex: 1 1 0px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Align items to the start of the container */
    height: 100vh; /* Set height to 100% of the viewport height */
}


dialog > div > article {
    position: relative; /* Set the container as a positioning context for absolute positioning */
    /* max-height: 300px */
}

dialog.active {
    display: flex;      /* Overlay becomes visible when is active*/
}

dialog.inactive {
    display: none;      /* Overlay becomes invis when is inactive*/
}

dialog .closeBtn {
    cursor: pointer;                        /* mouse becomes a cursor when hovered over the arrow  */
    padding: 10px; 
    font-weight: bold;
    font-size: 20px;                        /* Visual Details of Close Wording*/
    color: #e74c3c;
    position: absolute;                     /* Taken out of normal flow of document */
    top: 85%;                               /* Positions the close button at the bottom of its containing element*/
    left: 50%;                              /* Positions the close button in the middle of its containing element*/
    transform: translateY(-50%);            /* vertically center the element.  by half of its own height. */
    transform: translateX(-50%);            /* Centers the button horizontally.*/
}

/* ----------------------------- */
/* ---- PORTFOLIO OVERLAY ---- */
/* ----------------------------- */

#portfoliooverlay-wrapper {
    column-count: 2;
}

dialog .section-container .img2 {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* Arrows*/
dialog .arrow {
    background-color: rgba(0, 0, 0, 0.8);   /* shows background of slideshow arrow when mouse hovers.*/
}
dialog .arrow:first-of-type { left: 0; }                          /* positions it to the left edge of its containing element. */
dialog .arrow:last-of-type { right: 0; }                         /* positions it to the right edge of its containing element. */


#myIntroduction > menu > ul > li,
#mySkills > menu > ul > li{
    width: 30%;
    cursor: pointer;                    /* Mouse pointer turns into a pointer when hovering over li*/
    display: inline-flex;              /* Keeps the list items next to each other in a horizontal way*/
    font-size: 12px;
    height: 30px;
}






.mobile-article {
    display: none
}

#mySkills > menu, 
#myIntroduction > menu {
    display: none;
}


#wrapper {
    padding-left: 15%;
    padding-right: 15%;
    min-height: 100vh;
    overflow-y: hidden;
    background-color: var(--body-background);
    display: flex;
    flex-direction: column;
}