/* https://www.youtube.com/watch?v=plRcoRqLriw
https://codepen.io/kevinpowell/pen/mMeJEW */

/* Import Google Font - Raleway 300 & 700 */
@import url('https://fonts.googleapis.com/css?family=Raleway:300,700');

/* ----------------------------- */
/* -------- GENERAL CSS -------- */
/* ----------------------------- */ 

:root {
     /* Fonts */
    --sans-serif: 'Raleway', sans-serif;
    --font-light: 300;
    --font-bold: 700;
    
    /* Colors */
    --black: #353535;
    --gray: #4f4f4f;
    --medium-gray: #737373;
    --light-gray: #c4c4c4;
    --orange: #f96855;
    --white: #ffffff;
    
    /* Semantic color names */
    --accent: var(--orange);
    
    --body-background: var(--black);
    --menu-background: var(--gray);
    
    --main-font-color: var(--white);
    --menu-active-color: var(--light-gray);
    --menu-font-color: var(--medium-gray);
  }

  /* Add Var for:
  Nav Colour
  Nav Colour Active
  Tile Background Colour
  Overlay Colour
  Article Colour
  Active Filter 
  Non Active Filter



  HOW TO DO SECOND TAB
  Have a hoverable element
  When hovered, display the article
  */





* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
    border: none;
    overflow: hidden;
  }

body {
    background: var(--body-background);
    color: var(--main-font-color);
    font-family: var(--sans-serif);
    font-size: 1.2rem;
    line-height: 1.45;
    /* display: flex;
    flex-wrap: wrap; */
}


main {
    /* flex-shrink: 0; */
    height: 100%;
    /* width: 100%; */
    background-color: red;
    overflow: hidden;
    padding-bottom: 10%;
}


p {
    font-size: 0.6rem;
}

article {
    padding: 20px;
    background-color: #2ecc71;
    flex: 1; /* All child elements take up equal space */

}

/* img: refers to icons */
img {
    height: 30px;
    width: 30px;
    font-size: 30px;
    flex-shrink: 0; /* Prevent icons from shrinking */
}

/* button: refers to left/right arrows */
button {
    width: auto;
}

section.inactive {
    display: none;
}

section.active {
    display: flex;
}

h2 {
    height: 45px;
}

article > ul {
    overflow: visible;
    margin-left: 20px;
}

article > li {
    overflow: visible;
}

.mobile-article {
    display: none
}

#mySkills > menu, 
#myIntroduction > menu {
    display: none;
}




/* ----------------------------- */
/* ------ NAVIGATION BAR ------- */
/* ----------------------------- */  
nav {
    display: flex;
    justify-content: space-between;               /* Keeps nav a spaced out and in line */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);   /* Add a subtle box shadow for depth */
    height: 60px;
    width: 100%;                                /* Takes up 100% of the screen width */
    position: sticky;                           /* Keeps the navigation bar at top of screen */
    z-index: 1000;                              /* Ensure the navigation bar appears above other elements */
}

nav > a {
    text-decoration: none;                      /* Removes all natural formatting ie: underlines */
    margin: 10px;
    font-weight: bold;                          /* Make the text bold for emphasis */
    transition: color 0.3s ease-in-out;         /* Smooth transition for color change */
}

nav > a:hover {
    color: var(--menu-active-color);                             /* Change text color on hover */
}

nav > a.active {
    color: var(--menu-active-color);                            /* Active = relevant section element is active */
}


/* ----------------------------- */
/* ------ RESUME CONTENT ------- */
/* ----------------------------- */

#section-container {
    /* height: 100%; */
    background-color: purple;
}

section {
    flex-wrap: wrap;                            /* wrap the tiles in the element */
    gap: 20px;                                  /* each tile seperated by 20pixels */
    padding: 20px;
}

section > h2 {
    flex-basis: 100%;
}



/* ----------------------------- */
/* ---- TILE FILTER BUTTONS ---- */
/* ----------------------------- */
/* menu: refers to the filters for tiles */
section > menu {
    flex-basis: 100%;                   /* Keeps the width at 100% so it isnt lined up with other flex items */
    margin-bottom: 10px;
}



section > menu > ul > li {
    cursor: pointer;                    /* Mouse pointer turns into a pointer when hovering over li*/
    display: inline-flex;              /* Keeps the list items next to each other in a horizontal way*/
    
    background: #ffffff;                /* White background */
    transition: all 0.3s ease-in-out;   /* Applies a smooth transition effect to all style changes */


    color: #666666;                     /* Grey text */
    font-size: 3vw;  
    width: 5vw;
    height: 5vw;

    margin-top: 5px;                    /* High level of zoom in makes filter buttons go to second row */
    margin-right: 10px;
    position: relative;                 /* Added for positioning the tooltip */
    align-items: center;
    justify-content: center;
}


section > menu li:hover,
section > menu li.filter-active {
    background: #FF6F61;                /* Style change for when filter button is either clicked or moused over */
    color: #222222;
}

/* ----------------------------- */
/* ---- TILE FILTER TOOLTIPS --- */
/* ----------------------------- */
section > menu li:hover::before {
    content: attr(title);               /* The overlay content is the "title" attribute of the li element */
    position: absolute;
    background: #333;
    color: #fff;
    white-space: nowrap;
    padding: 5px;
    font-size: 14px;
    bottom: 70%;                        /* Position the tooltip above the icon */
    left: 50%;                          /* Center the tooltip horizontally */
    transform: translateX(-50%);        /* Center the tooltip horizontally */
    visibility: hidden;
    transition: 0.6s ease;
}

section > menu li:hover::before {
    visibility: visible;
    opacity: 1;                         /* How seethrough the tooltip is */
    margin-bottom: 20px;                /* Space away the tooltip from the filter button */
    margin-left: -15px;                 /* Off center the tooltip a bit */
}

.column {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    margin: 5px;
}



/* ----------------------------- */
/* ----------- Tiles ----------- */
/* ----------------------------- */

.tile-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    height: 100%
}
.tile-container > .tile {
    display: inline-block;
    /* width: 150px;
    height: 150px; */
    
    width: 10vw;
    height: 10vw;
    background-color: #3498db;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
    display: none;
    text-align: center;

    flex-shrink: 0.5;
}


.tile-container > .tile.active {
    display: inline-block;
}

.tile-container > .tile:hover {
    color: #000;
    transform: scale(1.05);
}

/* Div: .icon-container */
.tile-container > .tile > .icon-container {
    display: flex;
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
    font-size: 15px;
    padding: 10px;
    padding-top: 5px;
    min-height: 80px;
    max-height: 150px;
    gap: 10px;
}

.tile-container > .tile > .icon-container > i {
    width: 20%
}

.tile-container > .tile > .icon-container > h4 {
    width: 80%;
    text-align: right;
}

/* Div: .icon-container */
#myPortfolio > .tile-container > .tile > .icon-container {
    min-height: 50px;
    max-height: 150px;
    justify-content: left;            /* Center to left hand side */
    width: 100%
}


/* ----------------------------- */
/* -- SECTION NEXT/PREV ARROWS - */
/* ----------------------------- */            
main > button {
    position: absolute;                     /* Taken out of normal flow of document */
    top: 50%;                               /* Positions the top of the element at the vertical center of its containing element. */
    transform: translateY(-50%);            /* vertically center the element.  by half of its own height. */
    font-size: 24px;                        /* Size of the arrow */
    cursor: pointer;                        /* mouse becomes a cursor when hovered over the arrow  */
    color: #ffffff;                         /* Arrows are white*/
    padding: 10px;                     
    outline: none;                          /* Removes the outline, typically added as a default focus style. */
}

button.disabled {
    display: none;
}

main > button:first-of-type { left: 0; }                          /* positions it to the left edge of its containing element. */
main > button:last-of-type { right: 0; }                         /* positions it to the right edge of its containing element. */


/* ----------------------------- */
/* ---- EXPERIENCE OVERLAY ---- */
/* ----------------------------- */
dialog {
    display: none;   /* Default display is non visible. Display is modified when class becomes "active" */
    position: fixed;  /* Positions the overlay relative to the browser window and does not scroll with the page */
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;        
    background: rgba(0, 0, 0, 0.7);     /* Sets transparent background */
    color: #fff;                /* White text */
    justify-content: center;    /* Centers the child elements horizontally */
    align-items: center;        /* Centers the child elements vertically */
    z-index: 9999;              /* Must be most front facing forward since its an overlay */ 
}


/* div: infoWrapper */
dialog > .infoWrapper {
    font-family: 'Arial', sans-serif;
    padding: 2% 5%;     /* padding on the top/bottom and left/right of the wrapper.*/
    gap: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;    /* Centers the child elements horizontally */
    align-items: center;        /* Centers the child elements vertically */
    flex: 1 1 0px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Align items to the start of the container */
    height: 100vh; /* Set height to 100% of the viewport height */
}


dialog > div > article {
    position: relative; /* Set the container as a positioning context for absolute positioning */
    /* max-height: 300px */
}

dialog.active {
    display: flex;      /* Overlay becomes visible when is active*/
}

dialog.inactive {
    display: none;      /* Overlay becomes invis when is inactive*/
}

dialog .closeBtn {
    cursor: pointer;                        /* mouse becomes a cursor when hovered over the arrow  */
    padding: 10px; 
    font-weight: bold;
    font-size: 20px;                        /* Visual Details of Close Wording*/
    color: #e74c3c;
    position: absolute;                     /* Taken out of normal flow of document */
    top: 85%;                               /* Positions the close button at the bottom of its containing element*/
    left: 50%;                              /* Positions the close button in the middle of its containing element*/
    transform: translateY(-50%);            /* vertically center the element.  by half of its own height. */
    transform: translateX(-50%);            /* Centers the button horizontally.*/
}

/* ----------------------------- */
/* ---- PORTFOLIO OVERLAY ---- */
/* ----------------------------- */

#portfoliooverlay-wrapper {
    column-count: 2;
}

dialog .section-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* Arrows*/
dialog .arrow {
    background-color: rgba(0, 0, 0, 0.8);   /* shows background of slideshow arrow when mouse hovers.*/
}
dialog .arrow:first-of-type { left: 0; }                          /* positions it to the left edge of its containing element. */
dialog .arrow:last-of-type { right: 0; }                         /* positions it to the right edge of its containing element. */


#myIntroduction > menu > ul > li,
#mySkills > menu > ul > li{
    width: 30%;
    cursor: pointer;                    /* Mouse pointer turns into a pointer when hovering over li*/
    display: inline-flex;              /* Keeps the list items next to each other in a horizontal way*/
    font-size: 12px;
    height: 30px;
}

#wrapper {
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 5%;
    /* padding: 10%; */
    height: 100vh;
    overflow-y: hidden;
    background-color: pink;
}



@media (max-width: 600px) {

    /* #myIntroduction article {
        display: none;
      }
    
      #myIntroduction.active article {
        display: block;
      } */

    #mySkills > menu, 
    #myIntroduction > menu {
        display: block;
    }

    .pc-article {
        display: none;
    }

    .mobile-article.inactive {
        display: none;
    }

    .mobile-article.active {
        display: block;
    }
    
    

    /* Menu buttons */
    section > menu > ul > li {
        font-size: 3vh;  
        width: 5vh;
        height: 5vh;
        margin-right: 5px;
    }

    .tile-container > .tile {
        width: 14vh;
        height: 14vh;
    }

    /* Icon Container */
    .tile-container > .tile > .icon-container {
        gap: 5px;
    }

    .tile-container > .tile > .icon-container > .icon {
        height: 20px;
        width: 20px;
    }

    /* Overlay */
    dialog > .infoWrapper {
        flex-direction: column;
    }

    #wrapper {
        padding-left: 7%;
        padding-right: 7%;
    }

}

  /* mobile navbar css
  https://www.w3schools.com/howto/howto_js_topnav_responsive.asp */