
#wrapper {
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
}


main {
    /* min-height: 700px; */
    min-height: 85vh;
    background-color: #FF6F61;
}





.title p {
    margin: 0; /* Remove default margin for the position text */
    align-items: center;
    text-align: center;

}


.title i {
    margin: 30px; /* Remove default margin for the position text */
    height: 30px;
    width: 30px;

}