/* Import Google Font - Raleway 300 & 700 */
@import url('https://fonts.googleapis.com/css?family=Raleway:300,700');

/* ----------------------------- */
/* -------- GENERAL CSS -------- */
/* ----------------------------- */ 

:root {
     /* Fonts */
    --sans-serif: 'Raleway', sans-serif;
    --font-light: 300;
    --font-bold: 700;
    
    /* Colors */
    --black: #353535;
    --gray: #4f4f4f;
    --medium-gray: #737373;
    --light-gray: #c4c4c4;
    --orange: #f96855;
    --white: #ffffff;
    --purple: purple;
    --green: green;
    --other-gray: #666666;
    --blue: #3498db;
    --red: red;

    /* Tile Size */
    --declare-tile-size: 24vh;
    --declare-icon-size-small: 20px;
    --declare-icon-size-medium: 30px;
    --declare-icon-size-large: 50px;
    
    /* Semantic color names */
    --accent: var(--orange);
    
    --body-background: var(--black);
    --menu-background: var(--gray);
    
    --main-font-color: var(--white);
    --main-background-color: var(--purple);
    --menu-active-color: var(--light-gray);
    --menu-font-color: var(--medium-gray);

    --filter-button-color: var(--purple);
    --filter-font-color: var(--other-gray);

    --filter-active-color: var(--purple);
    --filter-active-font-color: var(--black);

    --tile-background-color: var(--blue);
    --tile-font-color: var(--white);

    --section-background-color: var(--purple);
    --article-background-color: var(--green);

    --closebtn-font-color: var(--red);

    --tile-size: var(--declare-tile-size);
    --icon-size: var(--declare-icon-size);

    --icon-size-small: var(--declare-icon-size-small);
    --icon-size-medium: var(--declare-icon-size-medium);
    --icon-size-large: var(--declare-icon-size-large);
  }

  /* Add Var for:
  Nav Colour
  Nav Colour Active
  Tile Background Colour
  Overlay Colour
  Article Colour
  Active Filter 
  Non Active Filter
  */


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
    border: none;
    overflow: hidden;
    font-size: 1rem;
}

h1 {
    font-size: 2.2rem;
}
h2 {
    font-size: 1.6rem;
}
h3 {
    font-size: 1.3rem;
}

html {height: 100vh;}
body {height: 100vh;}
main {min-height: 90vh;}
/* main {max-width: 40rem;} */

/* font-size of the page scales with the size of the browser window */
html {font-size: calc(60% + 0.8vmin);}

body {
    background: var(--body-background);
    color: var(--main-font-color);
    font-family: var(--sans-serif);
    /* font-size: 1.2rem; */
    line-height: 1.45;
}

article {
    padding: 20px;
    background-color: var(--article-background-color);
    flex: 1;                                /* All child elements take up equal/whole space in a row */
}

.program-icon {
    height: var(--icon-size-medium);
    width: var(--icon-size-medium);
    /* font-size: 30px; */
    flex-shrink: 0; /* Prevent icons from shrinking */
}

.portfolio-icon-container > img {
    height: var(--icon-size-medium);
    width: var(--icon-size-medium);
    /* font-size: 30px; */
    flex-shrink: 0; /* Prevent icons from shrinking */
}


/* ----------------------------- */
/* ------ NAVIGATION BAR ------- */
/* ----------------------------- */  
nav {
    /* display: flex;
    justify-content: stretch;
    min-height: 5vh; */
    min-height: 50px;
}

nav > .nav-links-container {
    display: flex;
    justify-content: space-between;
    height: 100%
}

nav > .mobile-nav-icon {display:none}

nav > .nav-links-container > a {
    text-decoration: none;                      /* Removes all natural formatting ie: underlines */
    font-weight: bold;                          /* Make the text bold for emphasis */
    transition: color 0.3s ease-in-out;         /* Smooth transition for color change */
    font-size: large;
    color: var(--menu-font-color);               /* Standard inactive colour of nav text */
}




/* ----------------------------- */
/* ------ RESUME CONTENT ------- */
/* ----------------------------- */

#section-container {
    background-color: var(--section-background-color);
}

section {display: none}

section {
    padding: 20px;
    min-height: 90vh;                           /* Allows the sections to remain the same height on every screen */
}

section > h2 {
    flex-basis: 100%;
}




section > .article-container {
    display: flex;
    gap: 20px;
}


/* ----------------------------- */
/* ------ FILTER BUTTONS ------- */
/* ----------------------------- */

.mobile-filter,
section .filter {
    padding-top: 3%;
    padding-bottom: 3%;
}

.mobile-article-filter,
.tile-filter-button {
    cursor: pointer;                            /* Mouse pointer turns into a pointer when hovering over li*/
    display: inline-flex;                       /* Keeps the list items next to each other in a horizontal way*/
    background: var(--filter-button-color);    /* White background */
    color: var(--filter-font-color);           /* Gray font colour */
    transition: all 0.3s ease-in-out;           /* Applies a smooth transition effect to all style changes */


    font-size: 3vw;  
    width: 5vw;
    height: 5vw;

    margin-right: 10px;                         /* Spacing between tiles*/
    margin-top: 5px;                            /* High level of zoom in makes filter buttons go to second row */

    align-items: center;                        /* Center content */
    justify-content: center;                    /* Center content */

    position: relative;                         /* Added for positioning the tooltip */
}


/* ----------------------------- */
/* ----------- Tiles ----------- */
/* ----------------------------- */

section > .tile-container {
    display: grid;
    grid-column-gap: 5%;
    grid-template-columns: repeat(auto-fit, minmax(15%, 1fr));
    gap: 15px
}


.tile {
    display: none;
    flex-flow: row wrap;                /* Spreads out tile information */
    flex-shrink: 1;
    width: var(--tile-size);
    height: var(--tile-size);
    background-color: var(--tile-background-color);
    color: var(--tile-font-color);
    cursor: pointer;
    transition: var(--tile-background-color) 0.3s ease, color 0.3s ease, transform 0.3s ease;
    text-align: center;
    padding: 5px;
}



.tile > p {
    text-align: center;
    width: 100%;
}

.tile.activated {display: flex;}
.tile:hover {
    color: var(--filter-active-font-color);
    transform: scale(1.05);
}

.tile > .icon-container {
    display: flex;
    gap: 5px;
    height: 40%;
    width: 100%;
}

.tile > .icon-container > i,
.tile > .icon-container > p {
    display:flex;
    height: 100%;
    align-items: center;            /* Center the content vertically */
    justify-content: center;        /* Center the content horizontally */
}

.tile > .icon-container > i {
    width: 30%;
}

.tile > .icon-container > p {
    width: 100%;
}


/* ----------------------------- */
/* -- SECTION NEXT/PREV ARROWS - */
/* ----------------------------- */

button {width: auto;}

main > button {
    position: absolute;                     /* Taken out of normal flow of document */
    top: 50%;                               /* Positions the top of the element at the vertical center of its containing element. */
    transform: translateY(-50%);            /* vertically center the element.  by half of its own height. */
    font-size: 24px;                        /* Size of the arrow */
    cursor: pointer;                        /* mouse becomes a cursor when hovered over the arrow  */
    color: #ffffff;                         /* Arrows are white*/
    padding: 10px;                     
    outline: none;                          /* Removes the outline, typically added as a default focus style. */
}

main > button.disabled {display: none;}
main > button:first-of-type { left: 0; }                          /* positions it to the left edge of its containing element. */
main > button:last-of-type { right: 0; }                         /* positions it to the right edge of its containing element. */




/* ----------------------------- */
/* ---- EXPERIENCE OVERLAY ---- */
/* ----------------------------- */
dialog {
    display: none;   /* Default display is non visible. Display is modified when class becomes "active" */
    position: fixed;  /* Positions the overlay relative to the browser window and does not scroll with the page */
    top: 0;
    left: 0;      
    background: rgba(0, 0, 0, 0.7);     /* Sets transparent background */
    color: #fff;                /* White text */
    justify-content: center;    /* Centers the child elements horizontally */
    align-items: center;        /* Centers the child elements vertically */
    z-index: 9999;              /* Must be most front facing forward since its an overlay */ 
    min-width: 100vw;           /* To cover the entire viewscreen */ 
    min-height: 100vh;          /* To cover the entire viewscreen */ 
    
}


/* div: overlay-wrapper */
.overlay-wrapper {
    display: flex;
    font-family: 'Arial', sans-serif;
    padding: 1% 3%;     /* padding on the top/bottom and left/right of the wrapper.*/
    gap: 4%;
    flex-direction: row;
    justify-content: center;    /* Centers the child elements horizontally */
    align-items: center;        /* Centers the child elements vertically */
    flex: 1 1 0px;

    align-items: flex-start; /* Align items to the start of the container */

    width: 100vw;           /* To cover the entire viewscreen */ 
    height: 90vh;          /* To cover the entire viewscreen minus space for close button*/ 
    max-width: 100vw;           /* To cover the entire viewscreen */ 
    max-height: 90vh;          /* To cover the entire viewscreen minus space for close button*/ 
}


.overlay-wrapper > article {
    position: relative; /* Set the container as a positioning context for absolute positioning */
}

.overlay-wrapper > article:first-of-type {
    max-width: 20%
}

dialog.active {display: flex;}              /* Overlay becomes visible when is active*/
dialog.inactive {display: none;}            /* Overlay becomes invis when is inactive*/

dialog .closeBtn {
    cursor: pointer;                        /* mouse becomes a cursor when hovered over the arrow  */
    padding: 10px; 
    font-weight: bold;

    color: var(--closebtn-font-color);
    position: absolute;                     /* Taken out of normal flow of document */
    top: 85%;                               /* Positions the close button at the bottom of its containing element*/
    left: 50%;                              /* Positions the close button in the middle of its containing element*/
    transform: translateY(-50%);            /* vertically center the element.  by half of its own height. */
    transform: translateX(-50%);            /* Centers the button horizontally.*/

    background-color: var(--tile-font-color);
    font-size: 30px;

}

/* ----------------------------- */
/* ---- PORTFOLIO OVERLAY ---- */
/* ----------------------------- */

#portfoliooverlay-wrapper {
    column-count: 2;
}

dialog .image-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* Arrows*/
dialog .arrow {
    background-color: rgba(0, 0, 0, 0.8);         /* shows background of slideshow arrow when mouse hovers.*/
}
dialog .arrow:first-of-type { left: 0; }            /* positions it to the left edge of its containing element. */
dialog .arrow:last-of-type { right: 0; }            /* positions it to the right edge of its containing element. */


.mobile-article {display: none;}
.mobile-filter {display: none;}


#wrapper {
    padding-left: 15%;
    padding-right: 15%;
    min-height: 100vh;
    overflow-y: hidden;
    background-color: var(--body-background);
    display: flex;
    flex-direction: column;
}


/* .activated {
    background-color: #3498db;
} */

section.activated {
    display: block;
    background-color: palevioletred;
}

nav > .nav-links-container > a:hover,
nav > .nav-links-container > a.activated {
    color: var(--menu-active-color);            /* Change text color on hover or click */
}

menu a.activated {
    background-color: palevioletred;
}

.mobile-article.activated {
    display: block;
}


.filter .tile-filter-button:hover,
.filter .tile-filter-button.activated {
    background: var(--filter-active-color);     /* Style change for when filter button is either clicked or moused over */
    color: var(--filter-active-font-color)
}





/* add another query for 300 to 400 for a 2 column grid */
@media (max-width: 600px) {

    html {font-size: calc(40% + 0.6vmin);}

    /* nav {
        max-height: 6vh;
    } */

    section {
        padding: 3%;
    }

    /* ----------------------------- */
    /* ------ FILTER BUTTONS ------- */
    /* ----------------------------- */
    .projectSumSmall {display: none;}
    .mobile-filter {display: inline-flex;}
    .mobile-article.inactive {display: none;}
    .mobile-article.active {display: block;}
    .pc-article {display: none;}
    

    .filter .tile-filter-button {
        font-size: 3vh;  
        width: 5vh;
        height: 5vh;
        margin-right: 5px;
        margin-bottom: 10px;
    }

    .mobile-filter {
        width: 100%;
    }


    .mobile-filter .filter-options{
        display: flex;
        width: 100%;
    }

    .mobile-article-filter {
        min-width: 30%;
        font-size: 2vh;
        font-weight: bold;
        width: initial
    }


    /* ----------------------------- */
    /* ---------- OVERLAY ---------- */
    /* ----------------------------- */
    .overlay-wrapper {
            flex-direction: column;
    }

    .overlay-wrapper article:first-of-type {
        width: 100%;
        max-width: fit-content;
        max-height: 30%;
    }

    .overlay-wrapper > article {
        flex: initial;
    }





    .tile-container > .tile {
        width: 25vw;
        height: 25vw;
    }

    .tile > .icon-container {
        max-height: 40%;
        gap: 0px;
    }

    .program-icon {
        transform: scale(0.7);
    }

    #wrapper {
        padding-left: 7%;
        padding-right: 7%;
    }

    /* ----------------------------- */
    /* ------ NAVIGATION BAR ------- */
    /* ----------------------------- */ 
    nav > .mobile-nav-icon {display:initial}

    /* Style the navigation menu */
    nav {
        overflow: hidden;
        background-color: #333;
        position: relative;
        display: flex;             /* Gives space for the hamburger icon */
    }

    /* Hide the links inside the navigation menu (except for logo/home) */
    nav > .nav-links-container {
        display: none;
    }

    /* Style navigation menu links */
    nav  a {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
    }

    /* Style the hamburger menu */
    nav > .mobile-nav-icon {
        background: black;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }

    /* Add a grey background color on mouse-over */
    nav > .nav-links-container > a:hover {
        background-color: #ddd;
        color: black;
    }

    /* Active link */
    nav > .nav-links-container > a.active {
        background-color: #ddd;
        color: black;
    }
}

@media (max-height: 600px) { 
    section > .tile-container {
        grid-template-columns: repeat(auto-fit, minmax(15%, 1fr));
      }
}



@media (max-width: 800px), 
       (max-height: 600px) {
    section > .tile-container {
        grid-template-columns: repeat(auto-fit, minmax(15%, 1fr));
        }
}



@media (max-width: 1000px) { 
    section > .tile-container {
        grid-template-columns: repeat(auto-fit, minmax(22%, 1fr));
      }
}