/* Import Google Font - Raleway 300 & 700 */
@import url('https://fonts.googleapis.com/css?family=Raleway:300,700');




/* Override display: none; for elements with both "for-pc" and "for-mobile" classes */
/* .for-pc.for-mobile { display: unset } */










/* ul {
    list-style-type: none;
} */

ul li {
    margin-bottom: 10px;
}


.split-container {
    display: grid;
    grid-template-columns: 50% 50%;
    padding-top: 5%;
    padding-bottom: 5%;
    min-height: 10%;
    max-height: 10%;
}

  .split-container > :nth-child(1) {
    background-color: red;
    align-self: flex-start;
    justify-content: center;
    height: 100%;
    width: 100%;
  }
  
  .split-container > :nth-child(2) {
    background-color: blue;
    align-self: flex-start;
    justify-content: center;
    height: 100%;
    width: 100%;
  }

.split-container5050 {
    display: grid;
    grid-template-columns: 50% 50%;
}





/* ----------------------------- */
/* -------- CONTAINERS --------- */
/* ----------------------------- */ 

section.activated {
    display: block;
 }



/* .container.for-mobile {
    display: none;
} */

.container.for-filter {
    display: block;
    min-width: 100%;
}


.container.for-section {
    display: flex
}



.container.for-icons {
    width: 30px;
    height: 30px;
}

/* Specific requirements for the container that holds the jobs and portfolio overlays*/
.container.for-overlay {
    display: grid;                  /* Overwrites container flex display */
    height: 100%;                   /* This forces the overlay to cover the entire height of the screen*/
    width: 100%;                    /* This forces the overlay to cover the entire width of the screen*/
    max-height: 100%;
    max-width: 100%;

    padding: 3%;
    column-gap: 2%;
    row-gap: 5%;

    position: absolute;
    top: 0;                         /* This forces the overlay to be at the top of the screen */
    left: 0;                        /* This forces the overlay to be at the left of the screen */
    background-color: initial;                     
}


/* ----------------------------- */
/* --------- EXT LINKS --------- */
/* ----------------------------- */

.icon-link {
    margin-right: 10px;                                 /* Gives spacing between the icons */
    font-size: 30px;                                    /* Increases visibility of the icons */
}


/* ----------------------------- */
/* --------- ARTICLES ---------- */
/* ----------------------------- */






/* ----------------------------- */
/* ------ PREV/NEXT ARROWS ----- */
/* ----------------------------- */  
.arrow {
    cursor: pointer;                            /* Mouse cursor changes when hovered over */
    position: absolute;                         /* Positions the arrow element relative to its nearest positioned ancestor */
    top: 50%;                                   /* Vertically centering */
    transform: translateY(-50%);                /* Vertically center the arrow by translating it up by 50% of its own height */
    padding: 16px;                              /* Increases space that the arrow button takes */
    color: white;                             /* Text colour to white */
    font-weight: bold;                          /* Text font to bold */
    font-size: 24px;                            /* Text font size */
    transition: background-color 0.3s ease;     /* Transition effect */
    border-radius: 50%;                         /* Rounds the corners of the arrow to make it circular. */
    user-select: none;                          /* Prevents the user from selecting the arrow text */
    background-color: rgba(0, 0, 0, 0.5);     /* default background color of the arrow to a semi-transparent black */
    z-index: 999;                               /* Ensure the arrows are on top of other content */
}

.arrow.disabled {display: none;}                  /* When overlay is active, the section arrows become disabled. */
.arrow.prev { left: 0; }                          /* positions it to the left edge of its containing element. */
.arrow.next { right: 0; }                         /* positions it to the right edge of its containing element. */


.arrow.prev.for-overlay, .arrow.next.for-overlay {
    background-color: rgba(255, 255, 255, 0.8); 
    color: black;
}



/* ----------------------------- */
/* -- ARTICLE/TILE CONTAINERS -- */
/* ----------------------------- */

.section-display p,
.section-display li
{
    font-size: calc(100% + 0.5vmin);
}

/* ----------------------------- */
/* ------ NAVIGATION BAR ------- */
/* ----------------------------- */  



/* ----------------------------- */
/* ------ FILTER BUTTONS ------- */
/* ----------------------------- */








/* ----------------------------- */
/* -- FILTER BUTTON TOOLTIPS --- */
/* ----------------------------- */



/* ----------------------------- */
/* ----------- TILES ----------- */
/* ----------------------------- */












/* ----------------------------- */
/* ----- OVERLAY - GENERAL ----- */
/* ----------------------------- */




/* ----------------------------- */
/* --- OVERLAY - EXPERIENCE ---- */
/* ----------------------------- */






/* ----------------------------- */
/* ---- OVERLAY - PORTFOLIO ---- */
/* ----------------------------- */




/* ----------------------------- */
/* ---------- MOBILE ----------- */
/* ----------------------------- */

@media (max-width: 600px) {


    /* #wrapper {
        padding-left: 5%;
        padding-right: 5%;
    } */

    
    .for-pc {display: none;}                            /* Hide any elements with a "for-pc" tag */
    .for-mobile {display: unset;}                       /* Display all elements with a "for-mobile" tag (Code may not be required */

    article {display: none;}                            /* All articles on mobile are hidden by default */
    article.activated {display: block;}                 /* Only Activated Articles are displayed on mobile */

    article {
        font-size: calc(80% + 0.9vmin);
        line-height: calc(150% + 0.9vmin);
    }
    
    /* ----------------------------- */
    /* -- ARTICLE/TILE CONTAINERS -- */
    /* ----------------------------- */
    .section-display > .container {
        grid-template-columns: repeat(auto-fit, minmax(35%, 1fr));
        grid-template-rows: repeat(auto-fit, minmax(10%, 1fr));
        gap: 4%;
    }



    /* ----------------------------- */
    /* ------ NAVIGATION BAR ------- */
    /* ----------------------------- */

    nav > div.for-mobile {
        display: flex;                      /* Allows the hamburger menu icon and the heading to be placed side by side */
        position: relative;                 /* Allows the hamburger menu icon to be positioned next to the heading text */
    }
    
    
    /* Style the hamburger menu */
    nav .navbar-icon {
        background-color: var(--nav-basic-background-color);
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        color: var(--nav-basic-font-color);
        text-decoration: none;
        font-size: 17px;
        padding: 14px 16px;
    }

    /* ----------------------------- */
    /* ------ FILTER BUTTONS ------- */
    /* ----------------------------- */

    .menu-filter.for-article {
        display: inline-flex;
        /* align-content: space-between; */
    }

    .filter-list.for-article {
        display: inline-flex;
        /* align-content: space-between; */
    } 

    .filter-button.for-article {
        display: inline-flex;
        font-size: 4vw; 
        min-width: 30%;
        min-height: 4vh;
    }

    .filter-button.for-tile {
        display: inline-flex;
        font-size: 2vh;  
        min-width: 4vh;
        min-height: 4vh;
    }

    /* ----------------------------- */
    /* ----------- TILES ----------- */
    /* ----------------------------- */
    .projectSumSmall {display: none;}

    .tile {
        min-width: 35vw;
        min-height: 13vh;
        max-height: 13vh;
        max-width: 50%;                 /* Stops a single tile from taking up the entire row */
    }


    /* Logo container */
    .tile.for-portfolio > div:first-child {
        margin-top: 10px;
        grid-column: 1 / span 3;
        grid-row: 2 / span 2;
        flex-direction: row;
    }

    /* Project Title */
    .tile.for-portfolio > p:nth-child(2) {
        grid-column: 1 / span 3;
        grid-row: 1 / span 1;
    }

    /* ----------------------------- */
    /* ----- OVERLAY - GENERAL ----- */
    /* ----------------------------- */
    article.for-overlay {display: unset;}           /* Removes the default "All articles are not displayed" */
    
    article.for-overlay ul {
        margin-left: 10%;
        margin-right: 10%;
    }

    ul.for-overlay {
        margin-left: 5px;
    }


/* 
    .split-container3070 {
        display: flex;
    }

    .split-container3070 .split-left {
        flex: 30%;
    }

    .split-container3070 .split-right {
        flex: 70%;
    } */

    /* ----------------------------- */
    /* --- OVERLAY - EXPERIENCE ---- */
    /* ----------------------------- */

    /* Styles specific to overlay */
    /* .container.for-overlay.for-experience {
        grid-template-columns: 24% 24% 24% 24%; 
        grid-template-rows: 20% 1fr;
    } */

    /* First Article - Experience details */
    /* .container.for-overlay.for-experience > article:nth-child(1) {
    grid-column: 1 / span 4;                          
    grid-row: 1 / span 1;
} */
}